[submodule "perl-git-repository-plugin-branch"]
	path = perl-git-repository-plugin-branch
	url = https://github.com/nnutter/perl-git-repository-plugin-branch.git
[submodule "perl-git-repository-plugin-hooks"]
	path = perl-git-repository-plugin-hooks
	url = https://github.com/nnutter/perl-git-repository-plugin-hooks.git
[submodule "perl-git-repository-plugin-tag"]
	path = perl-git-repository-plugin-tag
	url = https://github.com/nnutter/perl-git-repository-plugin-tag.git
